<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>20220419_Round20</display-name>

	<servlet>
		<servlet-name>My_01</servlet-name>
		<jsp-file>/Round20_01_page.jsp</jsp-file>
		<init-param>
			<param-name>path</param-name>
			<param-value>C:/DEV</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>My_01</servlet-name>
		<url-pattern>/Page_01</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>